$darkbrown: #302424;
$lightbrown: #877A7A;
$newsboxbackground: #D6CFC3;
$hovercolour: #7C6B6B;

* {
    margin: 0;
    padding: 0;
}

body {
    // background-image: url('background.png');
    background: #d3cbbb
}

// title section
.title {
    font-family: 'UnifrakturMaguntia', cursive;
    text-align: center;
    color: $darkbrown;
    font-size: 50px;
    margin-top: 25px;
}

.title-underline {
    width: 245px;
    height: 4px;
    background-color: $darkbrown;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title-underline:hover {
    background-color: $hovercolour;
}

// NAV BOX THAT CONTAINS TWO HEADINGS
.nav-box {
    width: 100%;
    height: 25px;
    font-family: 'Cormorant Garamond', serif;
    color: $darkbrown;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.navlink-1 {
    padding-left: 20px;
    padding-right: 38px;
}

.navlink-1:hover {
    cursor: pointer;
    color: $hovercolour;
}

.navlink-2 {
    padding-right: 20px;
}

.navlink-2:hover {
    cursor: pointer;
    color: $hovercolour;
}

// END OF NAV BOX

// SEARCH/FILTER CONTAINER 

.search-filter-container {
    width: 100%;
    height: 98px;
    margin-bottom: 20px;
}

.search-filter-box {
    width: 273px;
    margin: 0 auto;
    height: 98px;
    border-radius: 15px;
    border: 1.5px solid $darkbrown;
    font-family: 'Open Sans', sans-serif;
}

#search-terms {
    width: 238px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid $lightbrown;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    color: $darkbrown;
}

#search-terms::-webkit-input-placeholder {
    color: $darkbrown;
}

.bi-search {
    position: absolute;
    margin-left: -20px;
    margin-top: 15px;
    color: $darkbrown;
}

#filter-select {
    width: 250px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid $lightbrown;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    color: $darkbrown;
}

// NEWS ARTICLE BOXES 

.news-article-box {
    width: 275px;
    height: 540px;
    background-color: $newsboxbackground;
    border: 2px solid $darkbrown;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

img {
    width: 245px;
    height: 140px;
    border-radius: 10px;
    border: 2px solid #302424;
    margin-left: 13px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.username {
    font-size: 25px;
    color: black;
    margin-left: 13px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500px;
    margin-bottom: 10px;
}

.author {
    font-size: 20px;
    color: $darkbrown;
    margin-left: 13px;
    height: 45px;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 10px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: $darkbrown;
    margin-left: 13px;
    width: 250px;
    margin-bottom: 10px;
}

// TABLET MEDIA QUERY ------------------------------------------------------------------

@media only screen and (min-width: 768px) {

    // title section
    .title {
        font-family: 'UnifrakturMaguntia', cursive;
        text-align: center;
        color: $darkbrown;
        font-size: 70px;
        margin-top: 35px;
    }

    .title-underline {
        width: 650px;
        height: 4px;
        background-color: $darkbrown;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .title-underline:hover {
        background-color: $hovercolour;
    }

    // NAV BOX THAT CONTAINS TWO HEADINGS
    .nav-box {
        width: 100%;
        height: 25px;
        font-family: 'Cormorant Garamond', serif;
        color: $darkbrown;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .navlink-1 {
        padding-left: 215px;
        padding-right: 38px;
    }

    // END OF NAV BOX

    // SEARCH/FILTER CONTAINER 

    .search-filter-box {
        width: 537px;
        margin: 0 auto;
        height: 55px;
    }

    #search-terms {
        height: 30px;
    }

    .bi-search {
        margin-left: -27px;
    }

    // NEWS ARTICLE BOXES 

    #result {
        display: flex;
        flex-wrap: wrap;
    }

    .news-article-box {
        width: 325px;
        height: 540px;
        background-color: $newsboxbackground;
        border: 2px solid $darkbrown;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 20px;
    }

    img {
        width: 295px;
        height: 140px;
        border-radius: 10px;
        border: 2px solid #302424;
        margin-left: 13px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .username {
        font-size: 27px;
        color: black;
        margin-left: 13px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 500px;
        margin-bottom: 10px;
    }

    .author {
        font-size: 22px;
        color: $darkbrown;
        margin-left: 13px;
        height: 45px;
        font-family: 'Cormorant Garamond', serif;
        margin-bottom: 10px;
    }

    .description {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        color: $darkbrown;
        margin-left: 13px;
        width: 295px;
        margin-bottom: 10px;
    }

}

// LAPTOP LARGE MEDIA QUERY ------------------------------------------------------------------

@media only screen and (min-width: 1440px) {

    // title section
    .title {
        font-size: 110px;
        margin-top: 45px;
    }

    .title-underline {
        width: 1250px;
        height: 4px;
        background-color: $darkbrown;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .title-underline:hover {
        background-color: $hovercolour;
    }

    // NAV BOX THAT CONTAINS TWO HEADINGS
    .nav-box {
        width: 100%;
        height: 25px;
        font-family: 'Cormorant Garamond', serif;
        color: $darkbrown;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .navlink-1 {
        padding-left: 425px;
        padding-right: 228px;
    }

    // END OF NAV BOX

    // SEARCH/FILTER CONTAINER 

    .search-filter-box {
        width: 700px;
        margin: 0 auto;
        height: 65px;
    }

    #search-terms {
        height: 40px;
        width: 320px;
        font-size: 16px;
    }

    .bi-search {
        margin-left: -33px;
        font-size: 20px;
        margin-top: 16px;
    }

    .bi-search:hover {
        cursor: pointer;
    }

    #filter-select {
        width: 320px;
        height: 42px;
        margin-left: 25px;
        font-size: 16px;
    }

    // NEWS ARTICLE BOXES 

    #result {
        display: flex;
        flex-wrap: wrap;
        padding-left: 45px;
    }

    .news-article-box {
        width: 415px;
        height: 770px;
        margin: 15px;
        margin-bottom: 30px !important;
    }

    img {
        width: 380px;
        height: 240px;
        margin-bottom: 15px;
    }

    .username {
        font-size: 31px;
        margin-left: 16px;
        font-weight: 500px;
        margin-bottom: 15px;
    }

    .author {
        font-size: 26px;
        margin-left: 16px;
        margin-bottom: 15px;
    }

    .description {
        font-size: 22px;
        margin-left: 16px;
        width: 385px;
        margin-bottom: 15px;
    }

}